body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.control-panel {
  position: absolute;
  top: 0;
  right: -370px;
  width: 0;
  height: 0;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  opacity: 0;
}
.boldText {
  font-weight: bold;
}
.blackText {
  color: black;
}
.colorTomato {
  color: tomato;
}
.paddingHorizontalTen {
  padding-left: 10px;
  padding-right: 10px;
}
.closeButton {
  float: right;
  background: transparent;
  border: none;
  :hover {
    cursor: pointer;
  }
}
.station {
  :hover {
    cursor: pointer !important;
  }
}